{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=OxiTraffic: Website traffic tracker ({{ oxitraffic_identifier }})
{% for service in oxitraffic_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in oxitraffic_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ oxitraffic_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ oxitraffic_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ oxitraffic_identifier }} \
      --log-driver=none \
      --user={{ oxitraffic_uid }}:{{ oxitraffic_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ oxitraffic_container_network }} \
      {% if oxitraffic_container_http_host_bind_port %}
      -p {{ oxitraffic_container_http_host_bind_port }}:{{ oxitraffic_container_http_port }} \
      {% endif %}
      --env-file={{ oxitraffic_base_path }}/env \
      --label-file={{ oxitraffic_base_path }}/labels \
      --mount type=bind,src={{ oxitraffic_log_path }},dst=/var/log/oxitraffic \
      --mount type=bind,src={{ oxitraffic_config_path }},dst=/volumes/config.toml,readonly \
      {% for arg in oxitraffic_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ oxitraffic_container_image_self_build_name if oxitraffic_container_image_self_build else oxitraffic_container_image }}

{% for network in oxitraffic_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ oxitraffic_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ oxitraffic_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ oxitraffic_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ oxitraffic_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ oxitraffic_identifier }}

[Install]
WantedBy=multi-user.target
