{% if oxitraffic_container_labels_traefik_enabled %}
{% if oxitraffic_container_labels_traefik_docker_network %}
traefik.docker.network={{ oxitraffic_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if oxitraffic_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in oxitraffic_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ oxitraffic_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [oxitraffic_identifier + '-add-request-headers'] %}
{% endif %}

{% if oxitraffic_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in oxitraffic_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ oxitraffic_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [oxitraffic_identifier + '-add-response-headers'] %}
{% endif %}

traefik.enable=true
{% endif %}
traefik.http.routers.{{ oxitraffic_identifier }}.rule=Host("{{ oxitraffic_hostname }}")
{% if oxitraffic_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ oxitraffic_identifier }}.priority={{ oxitraffic_container_labels_traefik_priority }}
{% endif %}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ oxitraffic_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ oxitraffic_identifier }}.service={{ oxitraffic_identifier }}
traefik.http.routers.{{ oxitraffic_identifier }}.entrypoints={{ oxitraffic_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ oxitraffic_identifier }}.tls={{ oxitraffic_container_labels_traefik_tls | to_json }}
{% if oxitraffic_container_labels_traefik_tls %}
traefik.http.routers.{{ oxitraffic_identifier }}.tls.certResolver={{ oxitraffic_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.services.{{ oxitraffic_identifier }}.loadbalancer.server.port={{ oxitraffic_container_http_port }}

{{ oxitraffic_container_labels_additional_labels }}
